.container{
    display: flex; 
    align-items: center;
    flex-direction: column;
    width: 80%; 
    margin: 0 auto; 
    border-radius: 4px;
    padding: 2em 0; 
    box-shadow: 0 0 3px 0px black;
}
.d-none{
    display: none !important; 
}
.form{
    box-shadow: 0 0 1.5px 0 blue;
    border-radius: 4px;
    padding: 0em 2em 2em 2em; 
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.form-label{
    display: block;
    color: grey; 
    font-family: monospace;
    font-size: 1.2em; 
    margin: 2em 0 0.5em  0; 
}
.form-label + input{
    padding: 0.5em 0.3em; 
    display: block;
    border: none; 
    box-shadow: 0 0 1px 0 black;
    font-size: 1.3em; 
    font-family: monospace;
    border-radius: 4px;
}
.form button{
    background-color: rgb(56, 206, 56); 
    margin-top: 1em;  
    color: white; 
    border: none; 
    font-size: 2em;
    font-weight: bolder;
    text-align: center; 
    padding: 0.2em 1em ;
    border-radius: 4px;
    cursor: pointer;
}

.btn{
    padding: 0.2em; 
    border: none; 
    border-radius: 4px;
    font-size: 1.2em;
    font-family: monospace;
    font-weight: bolder;
    background-color: blueviolet;
    color: white; 
    cursor: pointer;
}


#gameBoard{
    display: grid; 
    box-shadow: 0 0 4px 1px black;
    max-height: 640px; 
    max-width: 420px ; 
    height: 95vh; 
    width: 90vw; 
    grid-template-rows: 200px repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto; 
    /* row-gap: 10px 0 0 0; */
}
.cell{
    border: 1px solid white;
    background-color: #663399;  
    color: white; 
    font-family: monospace;
}

#player-details-container{
    margin-bottom: 1em; 
    grid-column: 1/4;
    padding: 1em;
    font-family: monospace;
    background-color: rebeccapurple;
    color: white;
}
#player-details-container p{
    font-weight: bolder;
    font-size: 1.2em;
    transition: all 1s;
}
#player-details-container h1{
    text-align: center;
}
#turn{
    color: #81ff81;
    background-color: darkslateblue;
    padding: 0.1em 0.5em;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 1.3em;
}
.cell{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
}
.blur{
    filter: blur(5px); 
}
.popup{
    transition: all 1s;
    position: fixed;
    top: 1em; 
    left: 0;
    border-radius: 0 4px 4px 0;
    padding: 0.2em 1em;  
    font-family: monospace;
    z-index: 1000;
    filter: none !important;
    background-color: rgb(251, 60, 60);
    color: white; 
    font-size: 2em;
    /* vertical-align: middle; */
}

.cell:hover{
    color: rgb(12, 248, 87);
    background-color: rgba(255, 255, 255, 0.5);
}